@model IEnumerable<GameWeb.Entities.Games>

@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <h1>Ranking Gier</h1>

    <div class="row">
        @{
            int position = 1;

            foreach (var game in Model)
            {
                <div class="col-md-12 mb-4">
                    <div class="card">
                        <div class="row no-gutters">
                            <div class="col-md-1">
                                <h3 class="card-title">@position#</h3>
                            </div>
                            <div class="col-md-3">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="GameDetails" asp-route-id="@game.Id">
                                    <img src="@Url.Content(game.MainImagePath)" class="card-img" alt="Game Image">
                                </a>
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between">
                                        <div class="d-flex flex-column text-right">
                                            <p class="card-text">Ilość ocen: @game.NumberOfVotes</p>
                                            <p class="card-text">Ocena: @Math.Round(game.Rating,2)</p>
                                        </div>
                                    </div>
                                    <h4 class="card-text text-center">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="GameDetails" asp-route-id="@game.Id">
                                            @game.Title
                                        </a>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                position += 1;
            }
        }
    </div>
</div>
