@model GameWeb.Models.EditGameViewModel

@{
    ViewData["Title"] = "Edit Game";
}

<div class="container">
    <div class="border p-3 mt-4">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">

            <div class="row pb-2">
                <h2 class="text-primary pl-3">Edit game</h2>
            </div>

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="Game.Id" name="Id"/>
            <input type="hidden" asp-for="Game.Created" name="Created" />
            <input type="hidden" asp-for="Game.MainImagePath" name="MainImagePath" />

            <div class="mb-3">
                <label asp-for="Game.Title" class="control-label"></label>
                <input asp-for="Game.Title" class="form-control" name="Title"/>
                <span asp-validation-for="Game.Title" class="text-danger"></span>
            </div>

            <div class="mb-3">
                Current image:
                <div>
                    <img src="@Url.Content(@Model.Game.MainImagePath)" class="card-img" alt="Game Image" style="width: 30%; height: auto;">
                </div>
            </div>

            <div class="mb-3">
                Choose diffrent one, if you want:
                <input type="file" accept="image/*" asp-for="ImageFile" class="form-control" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Game.Description" class="control-label"></label>
                <textarea asp-for="Game.Description" class="form-control" name="Description"></textarea>
                <span asp-validation-for="Game.Description" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Game.ReleaseDate" class="control-label"></label>
                <input type="date" asp-for="Game.ReleaseDate" class="form-control" name="ReleaseDate" />
                <span asp-validation-for="Game.ReleaseDate" class="text-danger"></span>
            </div>

            <div class="mb-3">
                Category:
                <div class="form-control">
                    @foreach (var category in Model.GamesCategories)
                    {
                        var isChecked = Model.SelectedCategoryIds.Any(tc => tc == category.Id);
                        <div class="form-check">
                            <input type="checkbox" id="category_@category.Id" name="SelectedCategoryIds" value="@category.Id" class="form-check-input" @(isChecked ? "checked" : "") />
                            <label for="category_@category.Id" class="form-check-label">@category.CategoryName</label>
                        </div>
                    }
                    <span asp-validation-for="SelectedCategoryIds" class="text-danger"></span>
                </div>
            </div>

            <div class="mb-3">
                <input type="submit" value="Save" class="btn btn-primary" />&nbsp;&nbsp;
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </div>

        </form>

    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}